{% extends "analyzer/layout.html" %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/analyzer"><span>FakeNewsDetector</span></a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <!-- <li class="nav-item"><a href="/" class="nav-link" data-nav-section="home"><span>Home</span></a></li> -->
                <li class="nav-item"><a href="/analyzer" class="nav-link" data-nav-section="datasets"><span>Case Studies</span></a></li>
                <li class="nav-item"><a href="/analyzer" class="nav-link" data-nav-section="team"><span>Project Team</span></a></li>
                <li class="nav-item cta"><a href="/analyzer" class="nav-link" data-nav-section="upload">Generate Analysis</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="hero-wrap js-fullheight" style="background-image: url('{% static 'analyzer/images/news2.jpg'%}');" data-section="home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
                <p class="d-flex align-items-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center mr-3">
                        <span class="ion-ios-play play mr-2"></span>
                        <span class="watch">Watch Video</span>
                    </a>
                </p>
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Data-driven Analysis of Correlations Between Real World Data and Media Content</h1>
                <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Upload your official source data to see the analysis result.</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-services ftco-no-pt" data-section="datasets">
    <div class="container">
        <div class="row services-section">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-idea"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Google App Store Analysis</h3>
                        <p>The result shows clearly that social applications are very popular among the top downloaded apps, which validates that the internet sources are credible.</p>
                        <p><a href="/analyzer/case1" class="btn btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-compass-symbol"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">India International Trade Analysis</h3>
                        <p>We validate that the news source is credible as the top traders with India correlates with our analysis.</p>
                        <p><a href="/analyzer/case2" class="btn btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Oakland Crime Rate Analysis</h3>
                        <p>We conclude that while Oakland is relatively unsafe, its status as one of the most dangerous city is not completely true based on statistics and our analyzed result.
                        </p>
                        <p><a href="/analyzer/case3" class="btn btn-primary">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="section-counter" data-section="upload">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 col-lg-12 d-flex">
                <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({% static 'analyzer/images/data4.jpg' %});">
                    <div class="request-quote py-5">
                        <div class="py-2">
                            <span class="subheading">Please upload your official dataset and dubious news used for verification.</span>
                            <h3>Generate Analysis</h3>
                        </div>
                        <form method="POST"
                                   action="submit" class="request-form ftco-animate">
                            {% csrf_token %}
                            <div class="form-group">
                                Analysis Title: <input type="text" class="form-control" name="title">
                            </div>
                            <div class="form-group">
                                Description: <input type="text" class="form-control" name="description">
                            </div>
                            <div class="form-group">
                                News Link: <input type="text" class="form-control" name="news">
                            </div>
                            <div class="form-group">
                                Official Dataset: <input type="file" class="form-control" placeholder="CSV or JSON" name="dataset">
                            </div>
                            <div class="form-group">
                                Analysis Type: 
                                <input type="checkbox" class="form-control" name="bar" value="bar">Bar Chart
                                <input type="checkbox" class="form-control" name="pie" value="pie">Pie Chart
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-secondary py-3 px-4">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-project bg-light" data-section="team">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">

                <h2 class="mb-4">Project Team</h2>
                <p>This is a project presented to San Jose State University in partial fulfillment of the requirements for the degree
                   Master of Science in Software Engineering</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 testimonial">
                <div class="carousel-project owl-carousel">
                    <div class="item">
                        <div class="project">
                            <div class="img">
                                <img src="{% static 'analyzer/images/cyf.jpeg' %}" class="img-fluid" alt="Colorlib Template">
                                <a href="{% static 'analyzer/images/cyf.jpeg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="icon-expand"></span>
                                </a>
                            </div>
                            <div class="text px-4">
                                <h3><a href="https://www.linkedin.com/in/jonathan-fang-229997b1/">ChingYeung Fang</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project">
                            <div class="img">
                                <img src="{% static 'analyzer/images/qijiacao.jpg' %}" class="img-fluid" alt="Colorlib Template">
                                <a href="{% static 'analyzer/images/qijiacao.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="icon-expand"></span>
                                </a>
                            </div>
                            <div class="text px-4">
                                <h3><a href="https://www.linkedin.com/in/qijia-sandra-cao-9775b570/">Qijia Cao</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project">
                            <div class="img">
                                <img src="{% static 'analyzer/images/hanbingleng.jpeg' %}" class="img-fluid" alt="Colorlib Template">
                                <a href="{% static 'analyzer/images/hanbingleng.jpeg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="icon-expand"></span>
                                </a>
                            </div>
                            <div class="text px-4">
                                <h3><a href="https://www.linkedin.com/in/hanbing-leng/">Hanbing Leng</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project">
                            <div class="img">
                                <img src="{% static 'analyzer/images/luyu.jpeg' %}" class="img-fluid" alt="Colorlib Template">
                                <a href="{% static 'analyzer/images/luyu.jpeg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                                    <span class="icon-expand"></span>
                                </a>
                            </div>
                            <div class="text px-4">
                                <h3><a href="https://www.linkedin.com/in/lu-yu/">Lu Yu</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}