<!DOCTYPE html>
<html lang="en">
<head>
    <title>FakeNewsDetector</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/style2.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/icomoon.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/flaticon.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/ionicons.min.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/magnific-popup.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/owl.theme.default.min.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/owl.carousel.min.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/animate.css' %}" />
    <link type="text/css"
          rel="stylesheet"
          href="{% static 'analyzer/css/open-iconic-bootstrap.min.css' %}" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" />
</head>
<body>

{% block content %}
{% endblock %}

<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script></p>
                <p>ChingYeung Fang,  Hanbing Leng,  Lu Yu,  Qijia Cao</p> 
                <p>All rights reserved</p>
            </div>
        </div>
    </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="{% static 'analyzer/js/jquery.min.js' %}"></script>
<script src="{% static 'analyzer/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'analyzer/js/popper.min.js' %}"></script>
<script src="{% static 'analyzer/js/bootstrap.min.js' %}"></script>
<script src="{% static 'analyzer/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'analyzer/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'analyzer/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'analyzer/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'analyzer/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'analyzer/js/aos.js' %}"></script>
<script src="{% static 'analyzer/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'analyzer/js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'analyzer/js/google-map.js' %}"></script>
<script src="{% static 'analyzer/js/main.js' %}"></script>

</body>
</html>